<h1>Fornecedores</h1>

<div>
	<%= link_to('Cadastrar Fornecedor', new_supplier_path) %>
</div>

<% if @suppliers.any? %>
	<% @suppliers.each do |s| %>
		<div>
      <%= link_to supplier_path(s.id) do %>
			  <h2><%= s.brand_name %></h2>
      <% end %>
			<dl>
				<dt>Razão Social</dt>
				<dd><%= s.corporate_name %></dd>
			  <dt>Cidade</dt>
				<dd><%= s.city %></dd>
			</dl>
		<div>
	<% end %>

<% else %>
	<p>Nenhum fornecedor cadastrado</p>
<% end %>