<h2><%= @supplier.brand_name %></h2>
<div>
	<strong>Razão Social:</strong> <%= @supplier.corporate_name %>
  <strong>CNPJ:</strong> <%= @supplier.registration_number %>
	<strong>Cidade:</strong> <%= @supplier.city %>
	<strong>Estado:</strong> <%= @supplier.state %>
	<strong>Endereço:</strong> <%= @supplier.full_address %>
  <strong>E-mail:</strong> <%= @supplier.email %>
</div>